.confirmation-modal-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  hight:180px;
  border: none;
  boxShadow: 24px;
  background: white;
  padding: 15px;
  border-radius: 30px;

}

.confirmation-modal-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .title-message-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    .title{
      font-weight: 400;
      font-size:24px;
    }
    .message{
      font-width:400px;
      font-size: 15px;
    }
  }

  .confirmation-modal-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    .no-button {
      color:#FF9559;
      font-size:15px;
    }

    .yes-button {
      color:#FF9559;
      font-size:15px;
    }

  }

}


@media screen and (max-width: 450px) {
  .confirmation-modal-main-container {
    width:90%;
  }

}