.confirmation-modal-main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  hight:190px;
  border: none;
  boxShadow: 24px;
  background: white;
  padding: 15px;
  border-radius: 20px;

}

.confirmation-modal-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .title-message-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    .title{
      font-weight: 400;
      font-size:32px;
    }
    .message{
      font-width:400px;
      font-size: 21px;
    }
    .note{
      color:#888282;
      font-width:300px;
      font-size: 17px;
    }
  }

  .confirmation-modal-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    .no-button {
      color:#FF9559;
      font-size:15px;
    }

    .yes-button {
      color:#FF9559;
      font-size:15px;
    }

  }

}
@media screen and (max-width: 1000px) {
  .confirmation-modal-main-container {
    width: 60%;
  }
}

@media screen and (max-width: 450px) {
  .confirmation-modal-main-container {
    width:90%;
  }

  .confirmation-modal-container {
    .title-message-container{
      .title{
        font-weight: 400;
        font-size:24px;
      }
      .message{
        font-width:400px;
        font-size: 15px;
      }
      .note{
        font-width:300px;
        font-size: 11px;
      }
    }

    .confirmation-modal-buttons {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      .no-button {
        color:#FF9559;
        font-size:15px;
      }

      .yes-button {
        color:#FF9559;
        font-size:15px;
      }

    }

  }

}