.font-weight-300{
  font-weight: 300;
}
.event-create-form-bg{
  margin: 2rem 0 0 0;
  background-color: #fff;
  padding: 2rem;
}
.w-49{
  width: 49.5%;
}
.file-input {
  display: inline-block;
  width: 10%;
  padding: 120px 0 0 0;
  height: 100px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png) center center no-repeat #fff;
  border-radius: 20px;
  background-size: 45px 46px;
  border-style: dotted;
  border-color: #e1e1e1;
}
.ml-10{
  margin-left: 9px;
}