.font-weight-300{
  font-weight: 300;
}
.event-create-form-bg{
  margin: 2rem 0 0 0;
  background-color: #fff;
  padding: 2rem;
}
.w-49{
  width: 49.5%;
}
.file-input {
  position: absolute;
  margin-top: -6.5rem;
  width: 6.5rem;
  height: 8rem;
  display: inline-block;
  padding: 120px 0 0 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png) center center no-repeat #fff;
  border-radius: 20px;
  background-size: 45px 46px;
  border-style: dotted;
  border-color: #e1e1e1;
  opacity: 0;

}
.ml-10{
  margin-left: 9px;
}


.image-container {
  width: 6.5rem;
  border: 1.5px dashed;
  height: 7.3rem;
}

.close-icon-img {
  width: 1.5rem;
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 0.5rem;
  z-index: 1000;
}

.preview-image {
 height: 100px;
  width: 100px;
}

.next-btn {
  width: 6rem;
}

.submit-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.event-path {
  display: flex;
  gap: 0.5rem
}

.event-path h6:first-child {
  color: #000000A6;
}
.cursor-pointer{
  cursor: pointer;
}