.event-submission-card-container {
  display: flex;

  .event-submission-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F7F7F7;
    width: 630px;
    border-radius: 10px;
    padding: 16px;
    gap:10px;
    .report-time-verified-icon-container {
      display: flex;
      justify-content: space-between;

      .report-time {
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 400;

        color: #A19D9D;

      }

      .verified-icon-container {
        width: 31.67px;
        height: 31.64px;


        .verified-icon {
          width: 31.67px;
          height: 31.64px;
        }
      }
    }

    .event-name {
      font-family: Quicksand;
      font-size: 24px;
      font-weight: 600;


    }



      .event-location {
        display:flex;
        gap:5px;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 500;

        .event-location-icon-container{
          width:15px;
          height:15px;
          .location-icon{
            width:15px;
            height:15px;
          }
        }

        .event-location-data {
          color: #454444;


        }
      }

      .submission-image-group-container {
        display: flex;
        flex-direction:column ;
        gap:8px;
        .photo-title{
          color: #AFAFAF;
          font-size: 12px;
          font-weight: 500;
        }

        .submission-image-container {
          display: flex;
          gap:5px;
          flex-wrap: wrap;
          .submission-image {
            width: 39.67px;
            height: 35.64px;
            border-radius:4px;
          }
        }
      }
  }

  .event-submission-card-action-icon {
    width: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .event-submission-card-action-icon-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

}

@media screen and (max-width: 480px) {

  .event-submission-card-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    border-radius: 10px;
    padding: 12px 16px;


    .event-submission-card-details {

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 100%;
      max-height: 170px;
      border-radius: 10px;
      padding: 0;
      padding-bottom: 10px;
      gap: 10px;

      .report-time {
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 400;


      }

      .event-name {
        font-family: Quicksand;
        font-size: 24px;
        font-weight: 600;


      }

      .event-location-image-group-container {
        display: flex;
        flex-direction: column;

        .event-location {
          display: flex;
          gap:5px;
          width: 50%;
          font-family: Quicksand;
          font-size: 13px;
          font-weight: 500;

          .event-location-icon-container{
            width:15px;
            height:15px;
            .location-icon{
              width:15px;
              height:15px;
            }
          }

          .event-location-data {
            color: #454444;


          }
        }

        .submission-image-group-container {
          display: flex;
          flex-direction: column;
          gap:8px;
          .photo-title{
            color: #AFAFAF;
            font-size: 12px;
            font-weight: 500;
          }
          .submission-image-container {
            .submission-image {
              width: 39.67px;
              height: 35.64px;
              border-radius:4px;
            }
          }
        }
      }

      border-bottom: 1px dotted #E8E6E6;

    }

    .event-submission-card-action-icon {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .event-submission-card-action-icon-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .event-submission-card-action-icon-child[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }

    }

  }


}
