
body {
  background-color: rgba(0, 0, 0, 0.03);
  //color: rgba(0, 0, 0, 0.15);
}

.form-main-container {

  width: 100%;
  background: white;
  border-radius: 0 0 15px 15px;


  padding-bottom: 100px;
  .MuiTablePagination-root {
    font-size: 20px;
  }
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    align-items: baseline;
  }
}

.form-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list-name {
  display: flex;
  gap: 10px;
}
.svg-icon {
  width: 15px;
  height: 20px;
}
.date-time-location-container {
  flex-grow: 2;
  display: flex;
  gap: 15px;
}
.list-date {
}
.green-line {
  background: #61be7a;
  width: 2.63px;
  height: 40.58px;

  border-radius: 3.16px;
}
.level-event-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex:1;
  width:100%;
}
.home-search-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.event-header {
  flex: 3;
  width: 100%;
}

.sub-heading {
  font-family: Mulish;
  color: #868686;
}

.search-input {
  flex: 6;
  border-radius: 8px;
  padding-left: 0.5rem;
  transition: none !important;
  .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }

}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}

.search-input:focus {
  border-color: gray !important;
  outline: none !important;
}

.search-input::placeholder {
  color: rgba(40, 38, 34, 0.3);
}



.filters-container-main {
  width: 18%;
  background: #ffffff;
  border-radius: 1rem;
  position: fixed;
  right: 0;
  height:80vh;

 
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.dynamic-filters {
  // width: 20rem;
  flex-grow: 1;
}

.filters-buttons {
  display: flex;
  gap:0.5rem;
  justify-content: space-between;
  align-items: center;
  .clear-button{
    width:119px;
    height:32px;
    background: white;
    color:#666666;
    border:1px solid #666666;
    border-radius:8px;

  }
  .apply-button{
    width:119px;
    height:32px;
    background: #55545E;
    color:white;
    border-radius:8px;  


  }
}

.clear-btn {
  width: 7rem;
  background: #f3f3f3;
  border-radius: 100px;
}

.apply-btn {
  width: 7rem;
  background: #4861aa;
  border-radius: 100px;
}

.form-events-container {
  padding: 0 20px;
}

.form-list-card {
  height: 100px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  gap: 1.5rem;
  position: relative;
  overflow: hidden;
}

.events-container::-webkit-scrollbar {
  display: none;
}

.event-status {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  width: 74px;
  padding: 2px;
  height: 24px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
}

.date-time-location-inner-container {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Quicksand;
  font-size: 10px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;

}
.event-status-heading {
  display: block;
  text-align: center;
  border-radius: 1rem;
}

.status-active {
  background: #caf5d6;
  color: #1d6b32;
  width: 6rem;
}

.status-expired {
  background: #ffc3c3;
  color: #a82a2a;
  width: 7rem;
}

.status-upcoming {
  background: #dbe4ff;
  color: #294188;
  width: 7rem;
}

.form-photo {
  width: 12rem;
  object-fit: contain;
}


.event-header-name-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;


}
.any-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-event-header {
  position: sticky;
  top: 0;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  height: 80px;
  box-shadow: 5px 2px 15px #e9e3e3;
  z-index: 55;
  .form-event-back-button{
       position: absolute;
      left:0;
  }
  .form-event-name{
    flex-grow: 2  ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.form-event-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 500;
 
  text-align: center;

 .search-input .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none !important;
    background: #f1f1f1;
    border-radius: 10px;
  }
  .search-input .css-i4bv87-MuiSvgIcon-root {
    z-index:55;
  }
  .search-input .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input   {
    z-index:55;
  }


}

.event-sub-header {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -0.5rem;
  display: block;
  font-size: 1rem;
  color: rgba(73, 69, 79, 0.6);
  font-width: 400;
  font-size: 16px
}

.hr {
  width: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.form-list-fir {
  display: flex;
}


.form-list-sec {
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
  font-size:0.625rem;
  font-weight: 500;
  padding:1rem 0;
  flex:1;
 
  min-width: 40%;


  .heading {
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.13174602389335632px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.form-list-third {
  padding:1rem 0;
  margin-right: 15px;
}


.edit-bar-sub-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  text-align: center;
  .event-list-icon{
    width: 48px;
    height:48px;
  }
  
}

.edit-bar-imgage {
  width: 4rem;
  border-radius: 2rem;
}

.font1-2rem {
  font-size: 1.2rem;
}

.no-event-data {
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 2rem;
  font-family: revert;
}
.active-bg {
  background-color: #caf5d6;
}
.upcoming-bg {
  background-color: #dbe4ff;
}
.expired-bg {
  background-color: #ffc3c3;
}

.active-text {
  color: #1d6b32;
}
.upcoming-text {
  color: #294188;
}
.expired-text {
  color: #a82a2a;
}
.pagination {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 30px;
}

.pagination-arrow {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-page {
  margin: 0 1rem;
  font-weight: bold;
}


