  .form-event-submission-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;


  padding-bottom: 100px;
    .MuiTablePagination-root {
    font-size: 20px;
  }
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    align-items: baseline;
  }


    .event-name-heading-container{
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow:5px 2px 15px #e9e3e3 ;
      .form-event-back-button{
        position: absolute;
        left:10px;

      }

      .event-name-heading{

          flex-grow: 2  ;
          display: flex;
          align-items: center;
          justify-content: center;


      }

    }
    .event-image{
      width: 100%;
      height:320px;
    }
    .event-total-report{
      align-self: flex-start;
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0em;
      color:#949494;
    }
    .form-event-submissions{
      padding:28px;
      display: flex;
      flex-direction: column;
      gap:16px;
      justify-content: center;
      align-items: center;
    }
    .report-button-container{
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .report-event-button{
        border:none;
        background: #2F2F2F;
        color:white;
        padding:10px 50px;
        border-radius: 10px;
      }
    }

}


  @media screen and (max-width: 480px) {
    .form-event-submission-container{
      background-color: red;
      margin-left: auto;
      margin-right: auto;
      width: 100%;


      padding-bottom: 40px;
      /**
           .MuiTablePagination-root {
        font-size: 20px;
      }
      .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
        align-items: baseline;
      }
       */

      .event-name-heading-container{
        position: relative;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:5px 2px 15px #e9e3e3 ;
        .form-event-back-button{
          position: absolute;
          left:8px;

        }
        
        .event-name-heading{

          flex-grow: 2  ;
          display: flex;
          align-items: center;
          justify-content: center;


        }

      }
      .event-image{
        width: 100%;
        height:320px;
      }
      .event-total-report{
        align-self: flex-start;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 600;
       
        color:#949494;
      }
      .form-event-submissions{
        padding:20px;
        display: flex;
        flex-direction: column;
        gap:16px;
        justify-content: center;
        align-items: center;
      }
      .report-button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding:20px;
        margin-top: 0;
        .report-event-button{
          border:none;
          background: #2F2F2F;
          color:white;
          max-height: 44px;
          border-radius: 10px;
          width: 100%;
        }
      }

    }


  }