  .form-event-submission-container{
  margin: auto;
  overflow: auto;
  width: 900px;

  height: 100vh;
  padding-bottom: 100px;
  /**
       .MuiTablePagination-root {
    font-size: 20px;
  }
  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    align-items: baseline;
  }
   */

    .event-name-heading{
      padding:28px 0;
      text-align:center;
      height: 80px;
      border-bottom: 1px solid #e9e3e3;

    }
    .event-image{
      width: 100%;
    }
    .event-total-report{
      align-self: flex-start;
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0em;
      color:#949494;
    }
    .form-event-submissions{
      padding:28px;
      display: flex;
      flex-direction: column;
      gap:16px;
      justify-content: center;
      align-items: center;
    }
    .report-button-container{
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .report-event-button{
        background: #2F2F2F;
        color:white;
        padding:10px 50px;
        border-radius: 10px;
      }
    }

}