
.event-details-main-container {
display: flex;
flex-direction: column;
gap: 20px;

.heading {
font-size: 24px;
font-weight: 400;
color: #000000;
}
 .csv-redirect{
   align-self: flex-end;
   display: flex;
   color:#3B82F6;
   justify-content: center;
   align-items: center;
   gap: 5px;
   .goto-icon{
     width:16px;
     height:16px;
   }

 }

.add-event-button-container {
display: flex;
justify-content: center;
align-items: center;
gap:10px;
.add-event-button {
  background-color: #2F2F2F;
  width: 235.44px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;

}
  .loader-button-style{
    opacity:90%;
    .loader-style{
      color:white;
    }
  }
}

.iframe-container {
box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.01);

width: 100%;

}


}