.cards-wrap{
  box-shadow: 0 3.5px 5.5px 0 #00000005;
  border-radius: 0 0 16px 16px;
  padding: 1rem;
  margin: 0 1rem;
  background: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h4{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
  }
  h3{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 25.2px;
  }
}