.cropperContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  .cropperActionsContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

}
.add-post-image-upload{
  width: 103px;
  height: 117.54px;
  border: 1px solid #79747E;
  border-radius: 3.26513px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .icon-style{
    width:40px;
    height:40px;
  }
}
.button{
  width: 100px;
  height: 40px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #E3ECFF;
  color: #1C1B1F;
  cursor: pointer;
}

btn-active {
  background: #163560;
  color: #FFFFFF;
  opacity: 100%;
}