.font-weight-300 {
  font-weight: 300;
}

.create-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-create-form-bg {
  
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3rem;
  background:rgb(242 247 253);
  box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.01);
    
}
.custom-radio-group .css-11zohuh-MuiSvgIcon-root {
  color:#61BE7A;
 
}

.custom-radio-group .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color:#858585;
}
  .w-49 {
  width: 49.5%;
}
.file-input {
  position: absolute;
  margin-top: -6.5rem;
  width: 6.5rem;
  height: 8rem;
  display: inline-block;
  padding: 120px 0 0 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png)
    center center no-repeat #fff;
  border-radius: 20px;
  background-size: 45px 46px;
  border-style: dotted;
  border-color: #e1e1e1;
  opacity: 0;
}
.ml-10 {
  margin-left: 9px;
}
.event-path {
  //styleName: Headline/Medium-H5;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.003em;
}

.image-container {
  width: 7rem;
  border: 1.5px dashed;
  height: 7.3rem;
  
}

.close-icon-img {
  width: 1.5rem;
  position: absolute;
  margin-left: 5.2rem;
  margin-top: 0.2rem;
  z-index: 1000;
}

.uploaded-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.preview-image {
  height: 80px;
  width: 80px;
}

.next-btn {
  width: 6rem;
}

.submit-btn {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
.next-btn {
  border:none;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 1.5rem;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background: none;
}
.next-button-container{
  border:none;
  padding:20px;
  background: black;
  border-radius: 50%;
  
}
.next-button-container[disabled]{
  opacity: 50%;
}

.next-button-icon{
  height: 22px;
  width: 22px;
}

.event-path h6:first-child {
  color: #000000a6;
}
.cursor-pointer {
  cursor: pointer;
}
.sl-bubble3 {
  position: fixed;
  top: 0;
  left: 0;
  background: #666;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}
.container-adjust {
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.levels {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  //styleName: M3/label/large;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
}

.level-button{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #E3ECFF;
  color: #1C1B1F;
  cursor: pointer;
}
.save-button{
  border-radius: 8px;
  padding:8px 5px;  
}
.save-button[disabled]{
  opacity: 50%;
}
.go-to-form-button {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}
.go-to-form-button[disabled]{
  opacity: 50%;
}
  