
body {
  background-color: rgba(0, 0, 0, 0.03);
}


.event-details-date-time-location-container {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  gap: 15px;

  .date-time-location-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    .title-style{
      align-self: flex-start;
      color:#838383;
    }
    .svg-icon {
      width: 20px;
      height: 20px;
    }

  }
}


.event-details-list-card {
  cursor: pointer;
  height: 185px;
  width: 100%;
  background: #f7f7f7;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  gap: 1.5rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;

  .event-details-list-first-part {
    display: flex;

    .event-photo {
      width: 23.5rem;
      height: 100%;
      object-fit: contain;
    }
  }

  .event-details-list-sec-part {
    display: flex;
    flex-direction: column;
    gap:15px;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1rem 0;
    flex: 1;

    min-width: 40%;

    .list-name {
      display: flex;
      gap: 20px;

      .green-line {
        border: 3px solid #61be7a !important;
        height: 70.89px;
      }

      .level-event-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
        width: 100%;
      }
    }


    .heading {
      font-size: 2.25rem;
      font-weight: 600;
      letter-spacing: 0.13174602389335632px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }


  .event-details-list-third-part {
    display: flex;
    padding: 1rem 0;
    margin-right: 15px;
    gap: 10px;
    .active-hide-tag-container{
      display: flex;
      flex-direction: column;
      gap:5px;
      .hide-tag{
        background: #fe938d;
        color: #6e0802;
      }
      .active-button-style {
        margin: 0;
      }
    }

  }
}

.sub-events-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.event-header-name-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 600;


}

.event-details-primary-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #4D43DE;
  border-radius: 50%;
}

.event-details-intermediate-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #C62828;

  border-radius: 50%;
}

.event-details-leaf-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #1B8F3A;
  border-radius: 50%;
}


.any-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}


.no-sub-event-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
