.hello {
  font-size: 28px;
  color: orange;
  font-weight: bold;
}

body {
  background-color: rgba(0, 0, 0, 0.03);
  //color: rgba(0, 0, 0, 0.15);
}

.home-main-container {
  display: flex;
  gap: 2.5rem;
  padding: 0 0 4rem 5rem;
  margin-top: 2.5rem;
  width: 100%;

  .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    align-items: baseline;
  }
}


.header-and-list-container {
  width: 78%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-search-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.home-icon-description {
  align-self: flex-end;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #868686;

  .svg-icon-outermost-container {
    display: flex;
    gap: 5px;

    .primary-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background: #4D43DE;
      border-radius: 50%;
    }

    .intermediate-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background: #C62828;

      border-radius: 50%;
    }

    .leaf-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      background: #1B8F3A;
      border-radius: 50%;

    }


  }

}

.event-primary-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #4D43DE;
  border-radius: 50%;
}

.event-intermediate-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #C62828;

  border-radius: 50%;
}

.event-leaf-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #1B8F3A;
  border-radius: 50%;

}


.event-header {
  flex: 3;
  width: 100%;
}

.sub-heading {
  color: #868686;
}

.search-input {
  flex: 6;
  border-radius: 8px;
  padding-left: 0.5rem;
  transition: none !important;
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}

.search-input:focus {
  border-color: gray !important;
  outline: none !important;
}

.search-input::placeholder {
  color: rgba(40, 38, 34, 0.3);
}

.dynamic-form-submit-button {
  display: flex !important;
  width: 172px;
  height: 40px;
  border-radius: 100px !important;
  text-transform: capitalize !important;
  justify-content: center !important;
  background: #55545E !important;
  font-weight: 600;
  color: #ffffff;
  border: none;
  align-items: center;
  gap: 8px !important;
}


.dynamic-filters {
  // width: 20rem;
  flex-grow: 1;
}


.events-container {
  background: white;
  border-radius: 15px;
  padding: 0.8rem 1.5rem;
}

.event-list {
  height: 7.5rem;
  width: 100%;
  background: #F9F9F9;
  margin-top: 1.5rem;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  padding: 1rem 0rem 1rem 1rem;
  display: flex;
  overflow: hidden;
  position: relative;

  .active-button {
    margin: 0 !important;
    padding: -1px !important;
  }

}

.events-container::-webkit-scrollbar {
  display: none;
}

.event-status {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  width: 74px;
  padding: 2px;
  height: 24px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
}

.event-status-heading {
  display: block;
  text-align: center;
  border-radius: 1rem;
}

.status-active {
  background: #caf5d6;
  color: #1d6b32;
  width: 6rem;
}

.status-expired {
  background: #ffc3c3;
  color: #a82a2a;
  width: 7rem;
}

.status-upcoming {
  background: #dbe4ff;
  color: #294188;
  width: 7rem;
}

.event-photo {
  width: 9rem;
  height: 5.2rem;
}

.event-header-name {
  width: 150px;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 600;

}

.event-header-name-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 600;
}


.hr {
  width: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}

.event-list-fir {
  display: flex;
  width: 50%;
  gap: 10px;
}

.visible-divs {
  display: flex;
  transition: transform 0.7s ease-in-out;;
  width: 100%;
}

.event-list-sec {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.edit-bar {
  display: flex;
  justify-content: space-around;
  width: 30%;
  background: white;
  height: 8rem;
  margin-top: -1.1rem;
  padding: 1.7rem 0rem;
  transition: opacity 1s ease-in-out;
  position: absolute;
  right: 0;
  opacity: 0;

  .edit-button {
    background: #3193FF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .edit-icon {
      width: 20px;
      height: 20px;
    }

  }

  .view-button {
    background: #60D669;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .view-icon {
      width: 25px;
      height: 25px;
    }
  }


}

.event-list:hover .visible-divs {
  transform: translateX(-30%);
}

.event-list:hover .visible-divs .event-list-fir {
  width: 45%;
}

.event-list:hover .visible-divs .event-list-sec {
  width: 55%;
}

.event-list:hover .edit-bar {
  display: flex;
  opacity: 1;

}


.event-list-item {
  flex-grow: 1;
  width: 25%;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  line-height: 22px;


}


.edit-bar-imgage {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

.font1-2rem {
  font-size: 1.2rem;
}

.no-event-data {
  height: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 2rem;
}

.active-bg {
  background-color: #caf5d6;
}

.upcoming-bg {
  background-color: #dbe4ff;
}

.expired-bg {
  background-color: #ffc3c3;
}

.active-text {
  color: #1d6b32;
}

.upcoming-text {
  color: #294188;
}

.expired-text {
  color: #a82a2a;
}

.pagination {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 1rem;
}

.pagination-arrow {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-page {
  margin: 0 1rem;
  font-weight: bold;
}
